* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    --grad-color: linear-gradient(90deg,rgba(255, 255, 255, 1) 6%, rgba(121, 9, 72, 1) 100%, rgba(106, 0, 255, 1) 100%);
    --grad-color2: linear-gradient(90deg,rgba(189, 83, 124, 1) 0%, rgba(121, 9, 72, 1) 35%, rgba(106, 0, 255, 1) 100%);
    --grad-color3: linear-gradient(90deg,rgba(255, 255, 255, 1) 6%, rgba(232, 225, 174, 1) 100%, rgba(240, 218, 120, 1) 100%);
    --my-font: "Droid Sans", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Adwaita Mono", monospace;
    background: #FFFFFF;
    background: var(--grad-color3), var(--grad-color2);
    font-family: var(--my-font, monospace);
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    width: 300px;
    height: 200px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: var(--grad-color);
    color: white;
}
nav button {
    background-color: #bd537c;
    background: var(--grad-color3);
    color: saddlebrown;
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#content h1 {
    font-family: "Droid Sans", sans-serif;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-weight: 700;
    font-size: 3rem;
}

#content h2 {
    font-family: "Adwaita Mono", monospace;
    font-size: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#menu {
    display: flex;
    flex-direction: row;
    background-color: var(--grad-color2);
}